
<nav class="w-full flex flex-row justify-center mt-6 items-center backdrop-blur-md bg-[#ffffff82] shadow-md  z-40">
    <div class="flex flex-row justify-center items-center py-4 gap-1 text-xs font-light">
        <a class="hover:text-teal-500 transition-all" href="/terminos-condiciones">Terminos y condiciones de uso.</a>
        <span>Creado por <a class="hover:text-teal-500 transition-all" href="https://alexrdportafolio.netlify.app/">AleXRD</a></span>
    </div>
</nav>

<style></style>
